div.footer {
    height: 50px;
    width: 100%;
    background-color: lightgray;
    /*
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);  
    */ 
}

div.one {
    grid-column: 1 / 6;
    grid-row: 1;
    margin-top: 10px;
    margin-left: 10px;
}

div.two {
    grid-column: 1 / 11;
    grid-row: 1;
    text-align: right;
}

div.three {
    grid-column: 6 / 16;
    grid-row: 1;
}

div.four {
    grid-column: 16;
    grid-row: 1;
    margin-top: 10px;
}

div.five {
    grid-column: 17 / 20;
    grid-row: 1;
    margin-top: 10px;
}

div.three .mat-slider {
    width: 100%;
    min-width: 100px;
    height: 50%;
}

button.pause {
        height: 30px;
        width: 30px;
}

.mat-slider {
    width: 100%;
}

.mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

.mat-slider-thumb {
    transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
    opacity: 1 !important;
}
