<h4>Testing the library component ControlledRisingSkyline V2</h4>
<div id="host">

    <div style="margin: auto; width: fit-content">
        <controlled-rising-skyline 
            [width] = '1200px'
            [height] = '320px'
            [risingSkylineHistory$] = skyline$
            [startingColor] = "'#FF0000'"
            [endingColor] = "'#00FF00'"
            [sliderColor]="'#0000FF'"
            [skylineBackgroundColor]="'lightYellow'"
            [controlBackgroundColor]="'lightGreen'">
        </controlled-rising-skyline>
    </div>

</div>