<rising-skyline
    [height] = 370
    [width] = 1200
    [skyline$] = skyline$
    [speed] = 50
    [startingColor] = "'#28a745'"
    [endingColor] = "'#8B0000'">
</rising-skyline>
<div class="footer" *ngIf="(skylineService.skyline$|async).length > 0">

  <div class="one">
    <span>
      {{skylineService.toYearWeek(skylineService.firstDate).year}}
    </span>
    /
    <span>
      {{skylineService.toYearWeek(skylineService.firstDate).week | number : '2.0-0'}}
    </span>
  </div>

  <div class="two">
    <span>
      {{(skylineService.skyline$|async)[0].year}}
    </span>
    /
    <span>
      {{(skylineService.skyline$|async)[0].week | number : '2.0-0'}}
    </span>
  </div>

  <div class="three">
    <mat-slider min="1" max="skylineService.countFloors" [value]="skylineService.currentFloor/2"></mat-slider>
  </div>

  <div class="four">
    <span>
      {{skylineService.toYearWeek(skylineService.lastDate).year}}
    </span>
    /
    <span>
      {{skylineService.toYearWeek(skylineService.lastDate).week  | number : '2.0-0'}}
    </span>
  </div>

  </div>
