<rising-skyline
    [height] = 370
    [width] = 1200
    [skyline$] = skyline$
    [speed] = 50
    [startingColor] = "'#28a745'"
    [endingColor] = "'#8B0000'">
</rising-skyline>
<div class="footer" *ngIf="(skylineService.skyline$|async).length > 0">
    <div style="width:10%">
      <span>
        {{skylineService.toYearWeek(skylineService.firstDate).toString()}}
      </span>
    </div>
    <div style="width:10%">
      <span>
      {{(skylineService.skyline$|async)[0].year}}
      </span>
      <span>
        {{(skylineService.skyline$|async)[0].week}}
      </span>
    </div>

    <div style="width:20%">
      <span>
        {{skylineService.currentFloor}}
      </span>
      <span>
        {{skylineService.countFloors}}
      </span>
    </div>

    <mat-slider min="0" max="skylineService.countFloors" step="2" thumbLabel [value]="skylineService.currentFloor"></mat-slider>

    <div style="width:10%">
      <span>
        {{skylineService.toYearWeek(skylineService.lastDate).toString()}}
      </span>
  </div>

  </div>
